[submodule "GSM-scanner"]
	path = GSM-scanner
	url = https://github.com/yosriayed/GSM-scanner
[submodule "diag-parser"]
	path = diag-parser
	url = https://github.com/moiji-mobile/diag-parser
[submodule "gsm-assessment-toolkit"]
	path = gsm-assessment-toolkit
	url = https://github.com/romankh/gsm-assessment-toolkit
[submodule "IMSI-catcher"]
	path = IMSI-catcher
	url = https://github.com/Oros42/IMSI-catcher
[submodule "Typhon-imsiCatcher-Catcher"]
	path = Typhon-imsiCatcher-Catcher
	url = https://github.com/0x7678/Typhon-imsiCatcher-Catcher
[submodule "icc"]
	path = icc
	url = https://github.com/santiag0aragon/icc
[submodule "SDR-Detector"]
	path = SDR-Detector
	url = https://github.com/He3556/SDR-Detector
[submodule "IMSICatcherCatcher"]
	path = IMSICatcherCatcher
	url = https://github.com/Eauwzeauw/IMSICatcherCatcher
[submodule "2G_3G"]
	path = 2G_3G
	url = https://github.com/TheIrwin/2G_3G
[submodule "IMSI-CATCHER-SNIFFER"]
	path = IMSI-CATCHER-SNIFFER
	url = https://github.com/richalonso/IMSI-CATCHER-SNIFFER
[submodule "gsmsms_sdr"]
	path = gsmsms_sdr
	url = https://github.com/yearnwang/gsmsms_sdr
[submodule "QCSuper"]
	path = QCSuper
	url = https://github.com/P1sec/QCSuper
[submodule "gr-gsm"]
	path = gr-gsm
	url = https://github.com/osmocom/gr-gsm
[submodule "Gsm-Packets-Analysis-Framework"]
	path = Gsm-Packets-Analysis-Framework
	url = https://github.com/shwetankarora/Gsm-Packets-Analysis-Framework
[submodule "typhon-vx"]
	path = typhon-vx
	url = https://github.com/0x7678/typhon-vx
[submodule "multi-rtl"]
	path = multi-rtl
	url = https://github.com/ptrkrysik/multi-rtl
[submodule "evilbts"]
	path = evilbts
	url = https://github.com/security-geeks/evilbts
[submodule "airprobe-hopping"]
	path = airprobe-hopping
	url = https://github.com/BogdanDIA/airprobe-hopping
[submodule "gsm-at-lib"]
	path = gsm-at-lib
	url = https://github.com/MaJerle/gsm-at-lib
[submodule "gsmmux"]
	path = gsmmux
	url = https://github.com/ya-jeks/gsmmux
[submodule "gsml"]
	path = gsml
	url = https://github.com/ptrkrysik/gsml
[submodule "hackrf-gsm"]
	path = hackrf-gsm
	url = https://github.com/gearmover/hackrf-gsm
[submodule "kalibrate"]
	path = kalibrate
	url = https://github.com/ttsou/kalibrate
[submodule "GSM-Sniffer"]
	path = GSM-Sniffer
	url = https://github.com/lxf94/GSM-Sniffer
[submodule "rccn"]
	path = rccn
	url = https://github.com/Rhizomatica/rccn
[submodule "kiopcgenerator"]
	path = kiopcgenerator
	url = https://github.com/PodgroupConnectivity/kiopcgenerator
[submodule "GSMDecryption"]
	path = GSMDecryption
	url = https://github.com/0xh4di/GSMDecryption
[submodule "sim-applet-sms-im-alive"]
	path = sim-applet-sms-im-alive
	url = https://github.com/PodgroupConnectivity/sim-applet-sms-im-alive
[submodule "smspdudecoder"]
	path = smspdudecoder
	url = https://github.com/Qotto/smspdudecoder
[submodule "python-gsmmodem"]
	path = python-gsmmodem
	url = https://github.com/babca/python-gsmmodem
[submodule "sim-steering-plmn-reader"]
	path = sim-steering-plmn-reader
	url = https://github.com/PodgroupConnectivity/sim-steering-plmn-reader
[submodule "call-control-mncc-sap"]
	path = call-control-mncc-sap
	url = https://github.com/GerardPinto/call-control-mncc-sap
[submodule "gsm-pdu-decoder"]
	path = gsm-pdu-decoder
	url = https://github.com/mehul-m-prajapati/gsm-pdu-decoder
[submodule "FASCIA"]
	path = FASCIA
	url = https://github.com/adulau/FASCIA
[submodule "RFMap"]
	path = RFMap
	url = https://github.com/onticsoluciones/RFMap
[submodule "Awesome-Cellular-Hacking"]
	path = Awesome-Cellular-Hacking
	url = https://github.com/W00t3k/Awesome-Cellular-Hacking
[submodule "osmo-sim-auth"]
	path = osmo-sim-auth
	url = https://github.com/GerardPinto/osmo-sim-auth
[submodule "mobile-locator"]
	path = mobile-locator
	url = https://github.com/twang2218/mobile-locator
[submodule "gat-app"]
	path = gat-app
	url = https://github.com/romankh/gat-app
[submodule "iListener"]
	path = iListener
	url = https://github.com/RabbitNick/iListener
[submodule "kraken"]
	path = kraken
	url = https://github.com/cemizm/kraken
[submodule "tmsi-sniffer"]
	path = tmsi-sniffer
	url = https://github.com/axilirator/tmsi-sniffer
[submodule "3GPPDecoder"]
	path = 3GPPDecoder
	url = https://github.com/panigrahip/3GPPDecoder
[submodule "GSMEvil"]
	path = GSMEvil
	url = https://github.com/sharyer/GSMEvil
[submodule "geocell"]
	path = geocell
	url = https://github.com/kmertol/geocell
[submodule "CalypsoBTS"]
	path = CalypsoBTS
	url = https://github.com/spm81/CalypsoBTS
[submodule "milenage"]
	path = milenage
	url = https://github.com/mmehra/milenage
[submodule "gsmevil2"]
	path = gsmevil2
	url = https://github.com/sharyer/gsmevil2
[submodule "GSM-a5-1"]
	path = GSM-a5-1
	url = https://github.com/zhang0peter/GSM-a5-1
[submodule "lteAttack"]
	path = lteAttack
	url = https://github.com/macherie/lteAttack
[submodule "Comp128"]
	path = Comp128
	url = https://github.com/xurubin/Comp128
[submodule "a52crack"]
	path = a52crack
	url = https://github.com/rblaze/a52crack
[submodule "Anderson_attack"]
	path = Anderson_attack
	url = https://github.com/kisel93/Anderson_attack
[submodule "topguw"]
	path = topguw
	url = https://github.com/bastienjalbert/topguw
[submodule "topguw2"]
	path = topguw2
	url = https://github.com/bastienjalbert/topguw2
[submodule "HackRF-Gnu-Radio"]
	path = HackRF-Gnu-Radio
	url = https://github.com/0xcesium/HackRF-Gnu-Radio
[submodule "AIMSICDL"]
	path = AIMSICDL
	url = https://github.com/5GSD/AIMSICDL
[submodule "topguw_api"]
	path = topguw_api
	url = https://github.com/bastienjalbert/topguw_api/
[submodule "dingdong"]
	path = dingdong
	url = https://github.com/samyk/dingdong
